:root {
  --red: #f55252;
  --darkred: #ac3535;
  --lightgrey: #f6f6f6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}
body {
  font-family: "Libre Franklin", sans-serif;
  height: 100vh;
  margin: 0;

  display: flex;
  flex-direction: column;
}

header.navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  z-index: 9999;
}

.navbar .logo a {
  text-decoration: none;
  color: black;
}

nav.nav-list {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

nav.nav-list a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  transition: all 0.2s;
}

nav.nav-list a:hover {
  background-color: black;
  color: white;
}

button {
  background-color: var(--red);
  color: white;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  min-width: 10rem;
  min-height: 3rem;
  transition: all 0.2s;
}

button:hover {
  background-color: var(--darkred);
  cursor: pointer;
}

.jumbotron {
  display: flex;
  max-width: 80rem;
  margin-inline: auto;
  align-items: center;
  margin-block: 10rem;
  padding: 2rem 4rem;
}

.jumbotron-content {
  display: flex;
  gap: 2rem;
}

.jumbotron-desc {
  flex: 1 1;
}

.jumbotron-img {
  flex: 1;
}

.jumbotron-img img {
  width: 100%;
}

article {
  scroll-margin-top: 10rem;
  margin-bottom: 8rem;
}

article .article-header {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}
.article-header img {
  width: 5rem;
}

article#featured {
  text-align: center;
}

article#featured img {
  width: 100%;
  margin-block: 2rem;
}

.featured-desc {
  padding: 1rem 2rem;
}

aside.promo {
  width: 18rem;
  border: 1px solid black;
  position: sticky;
  top: 7rem;
  padding: 1rem;
}

aside.promo img {
  width: 100%;
}

div#content {
  align-items: flex-start;
  display: flex;
  gap: 3rem;
  margin-inline: 3rem;
  margin-block: 10rem;
}

.brand-container {
  flex-grow: 1;
}

header.article-header .article-header-desc p {
  max-width: 50rem;
}

.brand-products {
  display: flex;
  gap: 2rem;
}

.product {
  margin-block: 1rem;
  border: 1px solid transparent;
}

.product:hover {
  border: 1px solid black;
}

.product img {
  max-width: 250px;
}

.product img {
  padding: 1rem;
  background-color: var(--lightgrey);
}

.product-desc {
  margin-left: 1rem;
}

.product-desc .name {
  font-weight: 500;
}

.product-desc .category {
  color: gray;
}

.product-desc .price {
  font-weight: 600;
}
.article-header-desc h2 {
  margin-top: 0;
}

footer {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding-block: 1rem;
}

footer .footer-icons {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.footer-icons i {
  transition: all 0.2s;
}

.footer-icons i:hover {
  color: var(--red);
}

@media screen and (max-width: 1200px) {
  #content {
    flex-flow: column nowrap;
  }

  aside.promo {
    position: static;
    align-self: center;
  }

  .brand-products {
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 768px) {
  nav.nav-list {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .jumbotron {
    padding: 1rem 2rem;
    margin-block: 7rem;
  }
  .jumbotron-content {
    flex-direction: column;
  }

  .jumbotron-img {
    order: -1;
  }

  article#featured img {
    height: 7.5rem;
    object-fit: cover;
  }

  article {
    margin-bottom: 5rem;
  }

  div#content {
    margin-block: 5rem;
  }

  .brand-products {
    flex-flow: column wrap;
    align-items: stretch;
  }

  .product img {
    width: 100%;
    max-width: none;
  }

  header.navbar {
    flex-direction: column;
  }
}
